#!/usr/bin/env python3
# Copyright (C) Alibaba Group Holding Limited. 

# result file
output

# cache
*__pycache__*

# tmp
tmp*

# vscode
.vscode/

# checkpoints
checkpoints

# notebooks
*.ipynb

# debug
debug/

# archived
archived